<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Neeraj Birrwa</title>
    <!-- Fontawesome CDN Link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <!-- Move to up button -->
    <div class="scroll-button">
      <a href="#home"><i class="fas fa-arrow-up"></i></a>
    </div>
    <!-- navgaition menu -->
    <nav>
      <div class="navbar">
        <div class="logo"><a href="#">Portfolio.</a></div>
        <ul class="menu">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#contact">Contact</a></li>
          <div class="cancel-btn">
            <i class="fas fa-times"></i>
          </div>
        </ul>
        <div class="media-icons">
          <a href="https://www.facebook.com/profile.php?id=100015530075363"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a
            href="https://twitter.com/neerajk56366446?t=fb8tpA7dmhvsggB2ENT1Ww&s=08"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="https://www.instagram.com/neeraj_jonwal__/"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
      </div>
      <div class="menu-btn">
        <i class="fas fa-bars"></i>
      </div>
    </nav>

    <!-- Home Section Start -->
    <section class="home" id="home">
      <div class="home-content">
        <div class="text">
          <div class="text-one">Hello,</div>
          <div class="text-two">I'm Neeraj Bairwa</div>
          <div class="text-three">Node.js Developer</div>
          <div class="text-four">From Alwar</div>
        </div>
        {{!-- <div class="button">
          <button>Hire Me</button>
        </div> --}}
      </div>
    </section>

    <!-- About Section Start -->
    <section class="about" id="about">
      <div class="content">
        <div class="title"><span>About Me</span></div>
        <div class="about-details">
          <div class="left">
            <img src="Images/IMG_20221010_003545.jpg" alt="" />
          </div>
          <div class="right">
            <div class="topic">Coding Is My Passion</div>
            <p>
              Hi, My Name is Neeraj Bairwa , I Am a Node.js Developer , Recently
              I complete Elelctrical Engineering Diploma. Now Purcuing B.tech
              From CSE Branch. I Spend Mostly Time With Coading, And I Am Also
              Fast Learner. I Created Some Own Projects to Help Of Node.Js
              ExpressJs Rest api MongoDb.
            </p>
            <div class="button">
              <button><a href="Images/neeraj bairwa resume.pdf">My Cv</a></button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- My Skill Section Start -->
    <!-- Section Tag and Other Div will same where we need to put same CSS -->
    <section class="skills" id="skills">
      <div class="content">
        <div class="title"><span>My Skills</span></div>
        <div class="skills-details">
          <div class="text">
            <div class="topic">Skills Reflects Our Knowledge</div>
            <p>I am a Node.js Developer Begginer And Freelancer</p>
          </div>
          <div class="boxes">
            <div class="box">
              <div class="topic">HTML</div>
            </div>
            <div class="box">
              <div class="topic">CSS</div>
            </div>
            <div class="box">
              <div class="topic">JavScript</div>
            </div>
            <div class="box">
              <div class="topic">Node.js</div>
            </div>
            <div class="box">
              <div class="topic">ExpressJs</div>
            </div>
            <div class="box">
              <div class="topic">Rest Api</div>
            </div>
            <div class="box">
              <div class="topic">MongoDb</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Me section Start -->
    <section class="contact" id="contact">
      <div class="content">
        <div class="title"><span>Contact Me</span></div>
        <div class="text">
          <div class="topic">Have Any Project?</div>
          <p>
            If you Have any Project to Related Backend , Single Page App then you
            Can Contect Me
          </p>
          <div class="button">
            <button>
              <a href="chat">lets chat</a>
            </button>
            {{!-- <a class="button" href="chat">lets chat</a> --}}
          </div>
        </div>
      </div>
    </section>

    <!-- Footer Section Start -->
    <footer>
      <div class="text">
        <span
          >Created By <a href="#">Neeraj</a> | &#169; 2022 All Rights
          Reserved</span
        >
      </div>
    </footer>

    <script src="script.js"></script>
  </body>
</html>
